.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 80px 0 0 0;
}

.container > :last-child {
  align-self: flex-start;
}

.title {
  font-family: 'YS Text';
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 68px;
  text-align: center;
  margin: 0 0 50px 0;
}

.inputField {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 585px;
  height: 100px;
  margin: 0 0 30px 0;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 46px;
  border-radius: 30px;
  border: 8px solid #fed42b;
  outline: none;
  text-align: center;
}

.inputField:focus {
  border-color: #f5c400;
}

.keyboardRow {
  display: flex;
  flex-wrap: wrap;
  max-width: 603px;
  margin-left: auto;
  margin-right: auto;
}

.button {
  display: inline-block;
  width: 185px;
  height: 82.25px;
  margin: 12px;
  padding: 0;
  font-family: 'YS Text';
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 31px;
  background: #f3f0e9;
  border-radius: 24px;
  border: none;
  cursor: pointer;
}

.button:nth-child(3n),
.button:last-child {
  margin-right: 0;
}

.button:nth-child(3n-2),
.button:first-child {
  margin-left: 0;
}

.button:hover {
  background-color: #dedede;
}

.button:active {
  background-color: #b0b0b0;
}
