.section {
  /* display: flex;
  flex-direction: column; */
  flex: 1;
  max-width: 50%;
  /* width: 48%;
  max-width: 895.5px; */
  margin: 0;
  padding-left: 25px;
}

.sectionFinish {
  margin: 0 0 120px 0;
}

.title {
  font-family: 'YS Disp';
  font-size: 28px;
  line-height: 32px;
  margin: 24px 0 24px 8px;
  cursor: default;
}

.text {
  margin: 24px 0 16px 8px;
  font-size: 22px;
  line-height: 25px;
  color: rgba(0, 0, 0, 0.6);
  cursor: default;
}

.textOrange {
  color: #ffa200;
}

.packages {
  display: flex;
  gap: 12px;
}

.package {
  box-sizing: border-box;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: 8px 14px;
  font-weight: 500;
  font-size: 28px;
  line-height: 31px;
  max-width: fit-content;
  border: 2px solid #000000;
  border-radius: 42px;
  margin: 0;
}

.packageRecommended {
  border: 2px solid #2aad2e;
}

.packageNotRecommended {
  border: 2px solid #ffa200;
}

.figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 126px 0 0;
  gap: 33px;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 31px;
  cursor: default;
}

.cardList {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 48px;
}

.cardList {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 56px;
}
