.section {
  flex: 1;
  max-width: 50%;
  margin: 0;
  padding-left: 19px;
}

.newWidth {
  max-width: 49%;
  padding-left: 51px;
}

.sectionFinish {
  margin: 0 0 120px 0;
}

.title {
  font-family: 'YS Disp';
  font-size: 28px;
  line-height: 32px;
  margin: 40px 0 0 0;
  cursor: default;
}

.text {
  margin: 13px 0;
  font-size: 20px;
  line-height: 25px;
  color: rgba(0, 0, 0, 0.6);
  cursor: default;
}

.textOrange {
  color: #ffa200;
}

.packages {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.package {
  box-sizing: border-box;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: 6px 13px;
  font-weight: 500;
  font-size: 28px;
  line-height: 31px;
  max-width: fit-content;
  border: 2px solid #000000;
  border-radius: 42px;
  text-wrap: nowrap;
  margin: 0;
  cursor: default;
}

.packageRecommended {
  border: 2px solid #2aad2e;
}

.packageNotRecommended {
  border: 2px solid #ffa200;
}

.figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 148px 0 0;
  gap: 33px;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 31px;
  cursor: default;
}

.cardList {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 26px;
}

.notRecButton {
  border: 0;
  background-color: transparent;
  font-size: 20px;
  padding: 0;
  margin-left: 8px;
  cursor: pointer;
}
