.card {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 24px;
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 25px;
}

.card:last-of-type {
  border-bottom: 0;
}

.figure {
  display: flex;
  flex-direction: row;
  margin: 0;
}

.figcaption {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
}

.image {
  width: 100px;
  height: 100px;
  padding: 9px;
  background: #f9f7f3;
  border-radius: 16px;
}

.title {
  max-width: 433px;
  margin-top: 10px;
  font-size: 20px;
  line-height: 22px;
  font-weight: 400;
}

.cargotypes {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.cargotype {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  /* radius удалить потом? */
}

.amount {
  display: flex;
  align-items: center;
  width: 76px;
  max-width: fit-content;
  height: 48px;
  padding: 0 16px;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  border-radius: 30px;
  background: #f3f0e980;
  cursor: default;
}

.showMoreButton {
  border: 0;
  padding: 0;
  min-width: 152px;
  margin: auto;
  background: url(../../images/down-button.svg) no-repeat;
  padding-right: 12.5px;
  background-position: right;
  background-color: transparent;
  color: #0044ee;
  font-size: 20px;
}

.delete {
  width: 38px;
  height: 38px;
  border: 0;
  border-radius: 50%;
  font-size: 20px;
  background-color: #f8f7f3;
  cursor: pointer;
}
