@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);

body {
  font-family: 'YS Text', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
