.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  align-items: center;
  position: fixed;
  height: 111px;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid #e8e8e8;
  padding: 0 39px;
  background: #ffffff;
}

.headerGroup {
  display: flex;
}

.headerButton {
  border: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 39px;
  gap: 3px;
  text-decoration: none;

  font-size: 38px;
  font-weight: 900;
  color: #21201f;
}

.stock {
  margin-left: 6px;
}

.title {
  font-size: 28px;
  font-weight: 500;
  color: #212121;
  cursor: default;
}

.rightPath {
  justify-content: flex-end;
  cursor: default;
}

.orderStatus {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 297px;
  height: 65px;
  padding: 0 8px 0 20px;
  border: 4px solid #fed42b;
  border-radius: 24px;
  margin-right: 33px;
  font-size: 20px;
  color: #212121;
}

.progress {
  display: flex;
  align-items: center;
  height: 50px;
  padding: 0 28px 0 59px;
  border-radius: 30px;
  background: url(../../images/turbo.svg) no-repeat;
  background-position-x: 24.6px;
  background-position-y: center;
  background-color: #2aad2e;
  font-weight: 700;
  color: #ffffff;
}
