.done {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 43vh;
}

.doneTitle {
  font-weight: 500;
  font-size: 28px;
  line-height: 31px;
  margin: 16px 0;
}

.doneSubtitle {
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  margin: 0;
}
